plant disease/plant_disease_prediction_model.tflite
plant disease/kaggle.json
plant disease/plantvillage dataset/
plant disease/plantvillage-dataset.zip
.env
*.env
__pycache__/
*.pyc
venv/
.venv/
.ipynb_checkpoints/
