fastapi
uvicorn[standard]
python-dotenv
sqlalchemy

psycopg2-binary

bcrypt
PyJWT
pandas
numpy
scikit-learn
requests
urllib3
langchain-google-genai
langchain-core
Pillow
ai-edge-litert
python-multipart